/*------------------------html-font----------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*=========if need font-family: 'Poppins', sans-serif;====*/


/*------------------------main-head-font----------------------*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
/*=========if need font-family: 'Josefin Sans', sans-serif;====*/


/*------------------------heading-font----------------------*/
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;500;600;700&display=swap');
/*=========if need font-family: 'Signika Negative', sans-serif;====*/


/*------------------------pragrap-font----------------------*/
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');
/*=========if need font-family: 'Inconsolata', monospace;====*/


/*
=============================================================
common css
=============================================================
*/
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: #5d6c5d;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
    margin: 0;
    padding: 0;
}
ul {
    margin: 0;
    padding: 0;
}
img {
    width: 100%;
}
h4 {
    font-family: 'Signika Negative', sans-serif;
    font-size: 36px;
    font-weight: 500;
    color: #666666;
}
h6,
h5,h3 {
    color: darkorange;
    font-family: 'Signika Negative', sans-serif;
}
/*
=============================================================
Hero css
=============================================================
*/
#hero_area {
    clear: both;
    background-color: #5d6c5d;
}
.inner_hero_area h2 {
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
}
.inner_hero_area span {
    color: #ffffff66;
    font-size: 12px;
    padding: 0;
    margin-left: -9px;
}
.inner_hero_area ul li a {
    color: white;
    font-size: 18px;
    background-color: darkorange;
    border-radius: 15px;
}
.inner_hero_area ul li:hover a {
    color: darkorange;
    background-color: white;
    transition: 0.5s;
}
.inner_hero_area ul li {
    color: white;
    padding: 10px 5px;
}
/*
=============================================================
About_area css
=============================================================
*/
#about_me {
    background: dark;
    clear: both;
}
.inner_about_me img {
    width: 80%;
    padding: 8px 20px 10px 10px;
    margin: 0;
    outline: none;
    border-right: 2px solid #80808070;
}
.inner_about_me p {
    width: 80%;
    font-size: 15px;
    font-family: 'Inconsolata', monospace;
    color: #666666;
    line-height: 2.1em;
}
/*
=============================================================
Work_area css
=============================================================
*/
#work_area{
    background: #5D6C5D;
}
.work_box {
    cursor: pointer;
}
.work_box img {
    border: 4px solid orange;
    border-bottom: none;
    width: 100%;
    height: 191px;
    z-index: -1;
}
.work_box h5 {
    background-color: #FF8C00;
    padding: 5px 0px;
    /*    margin-top: -40px;*/
    text-align: center;
/*    z-index: 1;*/
    color: white;
}
.work_box h5:hover {
    background-color: #FFA500;
    padding: 5px 0px;
    /*    margin-top: -40px;*/
    text-align: center;
    z-index: 1;
    color: black;
}
.inner_work_area h4{
    color: white;
}


/*
=============================================================
Footer_area css
=============================================================
*/

.inner_footer_area h3{
    color: #666666;
}
.inner_footer_area p{
    font-size: 15px;
    font-family: 'Inconsolata', monospace;
    color: #666666;
    line-height: 1.6em;
}
    
.baby_contact li{
    font-size: 18px;
    color: #666666;
    line-height: 2.8em;
    cursor: pointer;
}    
.baby_contact li .fa-solid{
    color: #FF8C00;
}
